@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 30 20% 93%; /* F2ECE8 */
    --foreground: 222 61% 29%; /* 1D347A */

    --card: 30 20% 93%;
    --card-foreground: 222 61% 29%;

    --popover: 30 20% 93%;
    --popover-foreground: 222 61% 29%;

    --primary: 222 61% 29%; /* 1D347A */
    --primary-foreground: 30 20% 93%;

    --secondary: 12 15% 74%; /* C7B7B3 */
    --secondary-foreground: 222 61% 29%;

    --muted: 12 15% 74%;
    --muted-foreground: 222 61% 40%;

    --accent: 225 19% 57%; /* 7382AD */
    --accent-foreground: 30 20% 93%;

    --tertiary: 15 75% 47%;
    --tertiary-foreground: 30 20% 93%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 30 20% 93%;

    --border: 12 15% 84%;
    --input: 12 15% 84%;

    --ring: 222 61% 29%;

    --chart-1: 222 61% 29%;
    --chart-2: 12 15% 74%;
    --chart-3: 225 19% 57%;
    --chart-4: 222 40% 70%;
    --chart-5: 12 30% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 61% 15%;
    --foreground: 30 20% 93%;

    --card: 222 61% 15%;
    --card-foreground: 30 20% 93%;

    --popover: 222 61% 15%;
    --popover-foreground: 30 20% 93%;

    --primary: 30 20% 93%;
    --primary-foreground: 222 61% 29%;

    --secondary: 225 19% 27%;
    --secondary-foreground: 30 20% 93%;

    --muted: 225 19% 27%;
    --muted-foreground: 12 15% 74%;

    --accent: 225 19% 47%;
    --accent-foreground: 30 20% 93%;

    --tertiary: 15 75% 47%;
    --tertiary-foreground: 30 20% 93%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 20% 93%;

    --border: 225 19% 27%;
    --input: 225 19% 27%;

    --ring: 30 20% 93%;

    --chart-1: 222 61% 50%;
    --chart-2: 12 15% 74%;
    --chart-3: 225 19% 57%;
    --chart-4: 222 40% 70%;
    --chart-5: 12 30% 60%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
